[submodule "nekoyume/Assets/_Scripts/NineChronicles.RPC.Shared"]
	path = nekoyume/Assets/_Scripts/NineChronicles.RPC.Shared
	url = git@github.com:planetarium/NineChronicles.RPC.Shared.git
[submodule "nekoyume/Assets/_Scripts/Lib9c/Lib9c"]
	path = nekoyume/Assets/_Scripts/Lib9c/Lib9c
	url = git@github.com:planetarium/lib9c.git
