[submodule "nekoyume/Assets/_Scripts/Lib9c/lib9c"]
	path = nekoyume/Assets/_Scripts/Lib9c/lib9c
	url = git@gitlab.virtuosgames.com:ninechronicles/lib9c.git
	branch = virtuos_dev
[submodule "nekoyume/Assets/_Scripts/NineChronicles.RPC.Shared"]
	path = nekoyume/Assets/_Scripts/NineChronicles.RPC.Shared
	url = git@gitlab.virtuosgames.com:ninechronicles/ninechronicles.rpc.shared.git
