apiVersion: v1
kind: Service
metadata:
  name: miner
spec:
  ports:
  - port: 31234
    nodePort: 31234
    targetPort: 31234
  selector:
    app: miner
  type: LoadBalancer
  loadBalancerIP: MINER_IP
