<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.planetariumlabs.ninechroniclesmobile" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true">
    <activity android:name="com.unity3d.player.UnityPlayerActivity" android:theme="@style/UnityThemeSelector">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="ninechronicles-launcher" android:host="mobile-login" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https://play.google.com/store/apps/details?id=com.planetariumlabs.ninechroniclesmobile" />
      </intent-filter>
      <intent-filter android:autoVerify="false">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="ninechroniclesmobile" />
      </intent-filter>
    </activity>
    <meta-data android:name="co.ab180.airbridge.sdk.app_name" android:value="airbridge==ninechronicles" />
    <meta-data android:name="co.ab180.airbridge.sdk.app_token" android:value="airbridge==c476471c40544e479b367e2ddee1e587" />
    <meta-data android:name="co.ab180.airbridge.sdk.sdk_signature_secret_id" android:value="airbridge==" />
    <meta-data android:name="co.ab180.airbridge.sdk.sdk_signature_secret" android:value="airbridge==" />
    <meta-data android:name="co.ab180.airbridge.sdk.log_level" android:value="5" />
    <meta-data android:name="co.ab180.airbridge.sdk.custom_domain" android:value="" />
    <meta-data android:name="co.ab180.airbridge.sdk.session_timeout_seconds" android:value="300" />
    <meta-data android:name="co.ab180.airbridge.sdk.user_info_hash_enabled" android:value="true" />
    <meta-data android:name="co.ab180.airbridge.sdk.location_collection_enabled" android:value="true" />
    <meta-data android:name="co.ab180.airbridge.sdk.track_airbridge_link_only" android:value="false" />
    <meta-data android:name="co.ab180.airbridge.sdk.auto_start_tracking_enabled" android:value="true" />
    <meta-data android:name="co.ab180.airbridge.sdk.facebook_deferred_app_link_enabled" android:value="true" />
    <provider android:name="co.ab180.airbridge.unity.AirbridgeContentProvider" android:authorities="com.planetariumlabs.ninechroniclesmobile.co.ab180.airbridge.unity.AirbridgeContentProvider" android:exported="false" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
