name: set 9c project default fields
on:
  issues:
    types:
      - opened
      - reopened
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    name: Add To GitHub projects
    runs-on: ubuntu-latest
    steps:
      - name: Add project
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/planetarium/projects/97
          github-token: ${{ secrets.PROJECTS_PAT }}

      - name: Check if milestone is empty
        id: check_milestone
        run: |
          if [ "${{ github.event_name }}" == "issues" ]; then
            NUMBER=${{ github.event.issue.number }}
          else
            NUMBER=${{ github.event.pull_request.number }}
          fi

          MILESTONE=$(gh api graphql -f query='query($number: Int!, $owner: String!, $repo: String!) {
            repository(owner: $owner, name: $repo) {
              issueOrPullRequest(number: $number) {
                ... on Issue {
                  milestone {
                    title
                  }
                }
                ... on PullRequest {
                  milestone {
                    title
                  }
                }
              }
            }
          }' -f number=$NUMBER -f owner=planetarium -f repo=NineChronicles --jq '.data.repository.issueOrPullRequest.milestone.title')

          echo "milestone=$MILESTONE" >> $GITHUB_ENV
          if [ -z "$MILESTONE" ]; then
            echo "Milestone is empty"
            echo "set_milestone=true" >> $GITHUB_ENV
          else
            echo "Milestone is already set"
            echo "set_milestone=false" >> $GITHUB_ENV
          fi
        env:
          GH_TOKEN: ${{ secrets.PROJECTS_PAT }}

      - name: Set milestone env
        if: env.set_milestone == 'true'
        run: |
          echo "CURRENT_MILESTONE=$(gh api graphql -f query='query($name: String!, $owner: String!) {
          repository(name: $name, owner: $owner) {
          name
          milestones(last: 1, states: [OPEN], orderBy: {field: DUE_DATE, direction: DESC}) {
          nodes {
          number
          state
          title
          dueOn
          }
          }
          }}' -f name=NineChronicles -f owner=planetarium --jq '.data.repository.milestones.nodes.[0].title')" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ secrets.PROJECTS_PAT }}

      - name: Set milestone field
        if: env.set_milestone == 'true'
        uses: Julexar/Milestone-Assigner@v1.0
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          milestone: "${{ env.CURRENT_MILESTONE }}"
